{% extends 'base.html' %}

{% load i18n static %}

{% block title %}{% trans "Facebook Attachment" %} {{ object.title }}{% endblock %}

{% block content %}
    <h4>Attachment Details</h4>

    <div class="container">
        <div class="row">
            <div class="col-md-2"><span class="title">Post</span></div>
            <div class="col-md-10">{{ object.post.id }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><span class="title">Title</span></div>
            <div class="col-md-10">{{ object.title }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><span class="title">URL</span></div>
            <div class="col-md-10">{{ object.url }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><span class="title">Type</span></div>
            <div class="col-md-10">{{ object.type }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><span class="title">Description</span></div>
            <div class="col-md-10">{{ object.description }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><span class="title">Media</span></div>
            <div class="col-md-10">{{ object.media }}</div>
        </div>
        <div class="row">
            <div class="col-md-2"><span class="title">Target</span></div>
            <div class="col-md-10">{{ object.target }}</div>
        </div>
    </div>

{% endblock %}
