{% extends 'base.html' %}

{% load i18n static bootstrap %}

{% block title %}{% trans "Facebook Messages" %}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-md-11">
                <h4><span>Messages</span></h4>
            </div>
        </div>

        <div class="row">
            <form method="GET" class="form-inline">
                <div class="col-xs-9 col-sm-9 col-md-10">
                    {{ form|bootstrap_inline }}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-2">
                    <span class="pull-right">
                        <a href="{% url 'facebook_messages' %}" class="btn btn-primary">Clear</a>
                        &nbsp;&nbsp;
                        <input type="submit" value="Search" class="btn btn-primary"/>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2"><span class="title">Updated Date</span></div>
            <div class="col-md-2"><span class="title">ID</span></div>
            <div class="col-md-2"><span class="title">From</span></div>
            <div class="col-md-2"><span class="title">To Data</span></div>
            <div class="col-md-4"><span class="title">Message</span></div>
        </div>
        {% if object_list.count %}
            {% for object in object_list %}
                <div class="row">
                    <div class="col-md-2">
                        <a href="{% url 'facebook_message' object.id %}">{{ object.updated_time }}</a>
                    </div>
                    <div class="col-md-2">
                        <a target="_blank"
                           href="{{ FACEBOOK_URL }}/{{ object.id }}">{{ object.id }}</a>
                    </div>
                    <div class="col-md-2">{{ object.from_data.name }}</div>
                    <div class="col-md-2">
                        {% for line in object.to_data.data %}
                            {{ line.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-md-4">{{ object.message|truncatechars:100 }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-md-12"><span class="title">No messages found.</span>
                </div>
            </div>
        {% endif %}
    </div>

    {% include 'snippets/pagination.html' %}
{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{% static 'overlay-component/main.js' %}"></script>
    <script type='text/javascript' src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'graph/js/overlay.js' %}"></script>
    <script src="{% static 'graph/js/datepicker.js' %}"></script>

{% endblock %}
