{% extends 'base.html' %}

{% load i18n static %}

{% block title %}{% trans "Facebook Posts" %}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h4>
            <span>Posts</span>
            <button id="id_sync_posts" type="submit" class="btn btn-primary pull-right">Sync</button>
        </h4>
    </form>

    <div class="container">
        <div class="row">
            <div class="col-md-2"><span class="title">Created Date</span></div>
            <div class="col-md-3"><span class="title">ID</span></div>
            <div class="col-md-1"><span class="title">Attachment</span></div>
            <div class="col-md-1"><span class="title">Comments</span></div>
            <div class="col-md-5"><span class="title">Message</span></div>
        </div>
        {% if object_list.count %}
            {% for object in object_list %}
                <div class="row">
                    <div class="col-md-2">
                        <a href="{% url 'facebook_post' object.id %}">{{ object.created_time }}</a>
                    </div>
                    <div class="col-md-3">
                        <a target="_blank" href="{{ FACEBOOK_URL }}/{{ object.id }}">{{ object.id }}</a>
                    </div>
                    <div class="col-md-1">{{ object.has_attachment|yesno }}</div>
                    <div class="col-md-1">{{ object.comment_set.count }}</div>
                    <div class="col-md-5">{{ object.message|truncatechars:100 }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="col-md-12"><span class="title">No posts found. Try pressing the Sync button above</span></div>
            </div>
        {% endif %}
    </div>

    {% include 'snippets/pagination.html' %}
{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{% static 'overlay-component/main.js' %}"></script>
    <script src="{% static 'graph/js/overlay.js' %}"></script>
{% endblock %}
