{% extends 'base.html' %}

{% load i18n static %}

{% block title %}{% trans "Usage" %}{% endblock %}

{% block content %}

    {% if posts %}
        <div>
            <select id="id_select_statistics">
                <option value="statistics">Statistics</option>
                {% for graph_type in graph_types %}
                    <option value="{{ graph_type.0 }}">{{ graph_type.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <p id="id_statistics" class="statistics">
        <h4>Statistics for {{ user.get_full_name }}</h4>

        <table class="table-condensed">
            <tr>
                <th colspan="2">General Statistics</th>
            </tr>
            <tr>
                <td>Total Number:</td>
                <td>{{ num_posts }}</td>
            </tr>
            <tr>
                <td>Most Recent:</td>
                <td>{{ posts|last }}</td>
            </tr>
            <tr>
                <td>First:</td>
                <td>{{ posts|first }}</td>
            </tr>
            <tr>
                <td>Percentage Original Posts:</td>
                <td>{{ original_posts }}%</td>
            </tr>
            <tr>
                <td>Percentage Shares with Commentary:</td>
                <td>{{ shared_with_commentary }}%</td>
            </tr>
            <tr>
                <td>Percentage Blank Shares:</td>
                <td>{{ blank_shares }}%</td>
            </tr>
        </table>

        <table class="table-condensed">
            <tr>
                <th colspan="2">Posts Per Day Statistics</th>
            </tr>
            <tr>
                <td>Average (Last 6 Months):</td>
                <td>{{ posts_by_day.average_6_months|default:"" }}</td>
            </tr>
            <tr>
                <td>Average (All Time):</td>
                <td>{{ posts_by_day.average_all_time|default:"" }}</td>
            </tr>
            <tr>
                <td>Maximum:</td>
                <td>{{ posts_by_day.maximum|default:"" }}</td>
            </tr>
            <tr>
                <td>Median:</td>
                <td>{{ posts_by_day.median|default:"" }}</td>
            </tr>
            <tr>
                <td>Mode:</td>
                <td>{{ posts_by_day.mode|default:"" }}</td>
            </tr>
        </table>

        <table class="table-condensed">
            <tr>
                <th colspan="2">Comments Per Post Statistics</th>
            </tr>
            <tr>
                <td>Average (Last 6 Months):</td>
                <td>{{ comments_by_post.average_6_months|default:"" }}</td>
            </tr>
            <tr>
                <td>Average (All Time):</td>
                <td>{{ comments_by_post.average_all_time|default:"" }}</td>
            </tr>
            {% if comments_by_post %}
            <tr>
                <td>Maximum:</td>
                <td>
                    {{ comments_by_post.maximum.1|default:"" }}
                    (<a href="{% url 'facebook_post' comments_by_post.maximum.0 %}">
                    {{ comments_by_post.maximum.0 }}</a>)
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>Median:</td>
                <td>{{ comments_by_post.median|default:"" }}</td>
            </tr>
            <tr>
                <td>Mode:</td>
                <td>{{ comments_by_post.mode|default:"" }}</td>
            </tr>
        </table>

        {% for graph_type in graph_types %}
            <div id="id_{{ graph_type.0 }}" class="statistics"></div>
        {% endfor %}
    {% else %}
        <p><span class="title">No posts found to analyze. Try using the Sync button on the
            <a href="{% url 'facebook_posts' %}">posts</a> page.</span>
        </p>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script type='text/javascript' src="{% static 'highstock/js/highstock.src.js' %}"></script>
    <script src="{% static 'graph/js/usage.js' %}"></script>
{% endblock %}
