{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "User Profile" %}{% endblock %}

{% block content %}
    <h3>Hi, {{ user }}</h3>

    {% for social_account in social_accounts %}
        <p>
            You successfully connected your account with {{ social_account.provider }} on
            {{ social_account.date_joined }}
        </p>
        <p>
            Your last login was {{ social_account.last_login }}
        </p>

        <div>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-default">Update</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}
